.title-wrap{
     display: flex;
     justify-content: space-between;
     padding-bottom: 30px;
     border-bottom: 1px solid rgba(0, 0, 0, 0.3);
     padding-top: 30px;
     margin-bottom: 20px;
}

.body-wrap{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding-bottom: 20px;
}

.introduce-text{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.face-img{
    border-radius: 50%;
    margin-bottom: 20px;
}

.social-img{
    text-align: center;
}

.main-wrap{
    margin-top: 20px;
}

.main-container{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.information-text{
    text-align: left;
    font-weight: bold;
    font-size: 30px;
}

.myhobby-text{
    padding-right: 100px;
}